* {
  font-family: "Arial", sans-serif;
}

body {
  width: 80%;
  margin: 30px auto 0px;
  background-color: #f4f4f4;
}

header,
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

h1,
h2 {
  color: #333;
}

p {
  line-height: 1.6;
  color: #555;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: rgb(134, 182, 233);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.project,
.work,
.experience {
  margin-bottom: 30px;
}

ul {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
